<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about page</title>
    <style>
     fieldset{
        width:80%;
        height:50%;

        margin-top: 80px;
        }
        body{
        background: #ebf8e1;
        }
        legend{
        font-size:40px;
        color:red
        }
        pre{
        color:green;
        font-size:20px
        }

    </style>
</head>
<body>
<fieldset>
    <legend> About Us</legend>
    <pre>Everyday competitiveness between various shopping centres as and as huge marts is becoming
        higher intense,violent just because of the quick development of global malls also online shopping.
        Each market seeks to offer personalized and limited-time deals to attract many clients relying on
        period of time, so that each item's volume of sales may be estimated for the organization's stock control,
        transportation and logistical services.

        The current machine learning algorithm is very advanced and provides methods for predicting or forecasting
        sales any kind of organization, extremely beneficial to overcome low – priced used for prediction. Always
        better prediction is helpful, both in developing and improving marketing strategies for the marketplace,
        which is also particularly helpful.

</pre>
    </fieldset>

</body>
</html>