<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Worl!</title>
    <style>
        h1{
        color:orange;
         text-align:center
        }
        fieldset{
        width:80%;
        height:50%;
         margin-left: 70px;

        margin-top: 80px;
        }
        body{
         background-color: rgb(161, 201, 144);
        }
        legend{
        font-size:40px;
        color:red}
    </style>
</head>
<body>
<fieldset>
    <legend> Contact Us</legend>

    <h1> sriramburri5@gmail.com</h1>
    <h1>chandraSekharchanna81@gmail.com</h1>
    <h1>jashuva123@gmail.com</h1>
</fieldset>



</body>
</html>